/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    margin: 0;
}

/* ---- Layout Containers ---- */

.Wrapper {

}

.Container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
	background: #5de2c3;
    padding: 1em 0;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
    text-align: center;
}

/* ---- Page Elements ---- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    
  .wrap {
    min-height: calc(100vh - 121px);
  }
    
  .Container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}



